[user]
  name = Carlos Figueiredo
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[alias]
  ll = log --graph --pretty=format:\"%C(yellow)%h%Creset%d %Creset%s %C(bold blue)[%an]\"
  l = log --graph --all --pretty=format:\"%C(yellow)%h%Creset%d %Creset%s %C(bold blue)[%an]\"
[push]
  default = simple
  autoSetupRemote = true
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[commit]
  gpgsign = true
[gpg]
  program = gpg
[include]
  path = .gitconfig.secret
